[2015-09-02 01:13] tomschenkjr opened #1 "Identify potential variables"
E. Coli readings
- E. Coli beach readings from two days ago
- E. Coli beach readings from previous day

[Beach Water readings](https://data.cityofchicago.org/Parks-Recreation/Beach-Water-Quality-Automated-Sensors/qmqz-2xku)
- Solar radiation
- Water temperature
- Turbidity
- Wave height
- Wave period

[Beach Weather Stations](https://data.cityofchicago.org/Parks-Recreation/Beach-Weather-Stations-A

[2015-09-02 01:21] tomschenkjr opened #2 "Follow-up with Parks on threshold"
Does over 1,000 parts lead to beach ban?

[2015-09-02 01:21] tomschenkjr opened #3 "Obtain current Park water quality model"

[2015-09-02 01:21] fgregg opened #4 "Historic data from drek beach"
- [ ] Actual
- [ ] Historic
- [ ] Action (Ban or Adivsory)

[2015-09-02 01:23] fgregg opened #5 "Naive Model, Today like yesterday"
Create naive model to benchmark

[2015-09-02 01:25] fgregg opened #6 "Autoregressive model in R"
Create autoregressive model to benchmark

[2015-09-02 01:26] fgregg opened #7 "Test harness"
Compare performance on various models against benchmarks.

[2015-09-02 01:26] fgregg opened #8 "Test harness"
Compare performance on various models against benchmarks.

[2015-09-02 01:28] fgregg opened #9 "Start simple model"
- [ ] Autogressive with
- [x] Day of week
- [ ] Holiday
- [x] Beach
- [x] Their forecast levels
- [ ] Levels in other beaches

[2015-09-08 23:26] #4 closed, assigned to sbeslow

[2015-09-23 00:07] tomschenkjr opened #10 "Question: can there be beach advisories for reasons besides water quality?"

[2015-09-23 00:11] tomschenkjr opened #11 "Aggregate past lab result data"
Aggregate Excel files provided by CPD into a single file for further analytics

[2015-09-23 00:26] tomschenkjr opened #12 "Gather river lock openings"
The dates of when the lock between the beach and river is open

[2015-10-10 19:40] emchandler commented on #12
As far as I've found out, there are two locks for watercraft. Looking at the traffic through the Navy Pier lock, we can probably approximate it as always open during the warm months, because they let traffic through 11k times per year (http://www.navigationdatacenter.us/lpms/lpms.htm). More detailed traffic reports are only available online for the last 30 days (http://corpslocks.usace.army.mil/lp

[2015-10-11 20:23] tomschenkjr commented on #12
They'll keep the locks closed unless they need to empty water into the lake. The two locks aren't opened at the same time for traffic, they'll use it as a fixed chamber to lower or raise boats since the water levels aren't the same.

[2015-10-28 01:24] tomschenkjr commented on #12
I'll work on parsing this into machine readable.
[Reversals.pdf](https://github.com/tomschenkjr/e-coli-beach-predictions/files/22122/Reversals.pdf)

[2015-10-28 12:20] fgregg commented on #12
dope!

[2015-10-28 16:18] tomschenkjr commented on #12
[Interesting fact](http://il.water.usgs.gov/publications/abstract.php?series=WRIR&number=94-4112) (emphasis mine):

[2015-10-28 17:35] #12 closed, assigned to nobody

[2015-11-18 02:07] tomschenkjr commented on #2
No. Only DNA testing requires over 1,000 ppm before issuing an advisory. Read more at https://github.com/tomschenkjr/e-coli-beach-predictions/wiki#new-dna-testing-methods

The Lab Testing method requires a reading over 235 ppm to issue an advisory. Read more at https://github.com/tomschenkjr/e-coli-beach-predictions/wiki#lab-methods

[2015-11-18 02:07] #2 closed, assigned to tomschenkjr

[2015-11-18 02:07] tomschenkjr commented on #3
Available as the Word documents in https://github.com/tomschenkjr/e-coli-beach-predictions/tree/master/data/ChicagoParkDistrict

[2015-11-18 02:07] #3 closed, assigned to tomschenkjr

[2015-11-18 02:11] tomschenkjr opened #13 "Merge Lab Results data"
Merge the files in https://github.com/tomschenkjr/e-coli-beach-predictions/tree/master/data/ChicagoParkDistrict/raw into a single file that shows lab readings for each summer day.

[2015-11-18 02:15] #13 closed, assigned to nobody

[2015-11-18 15:22] ntdef commented on #8
This duplicates #7, btw.

[2015-11-18 15:27] #8 closed, assigned to fgregg

[2015-11-18 17:43] ntdef opened #15 "Create a train/test split for benchmarking"
It would probably be nice to get a training and test dataset split for comparing new models, similar to the way Kaggle selects a winning model. One thing we'll have to look out for is making sure the training and testing datasets are balanced w.r.t  the number of positives and negatives.

[2015-12-02 01:29] tomschenkjr opened #16 "Get a description of all variables in current CPD model"
The [current model](../data/ChicagoParkDistrict/Equations%202015.docx) has several variables listed, but it is unclear how those variables crosswalk to the variables in the lab data.

Need to determine the variables and their meaning.

[2015-12-02 05:08] tomschenkjr opened #17 "Remove ">" from data"
When the test results are the highest levels (2420), the data contains a ">" and needs to be removed.

[2015-12-02 05:19] tomschenkjr opened #18 "Create binary variable for lab results exceeding acceptable threshold"
According to [the notes](https://github.com/Chicago/e-coli-beach-predictions/wiki/Research-Notes#lab-methods), the threshold for unsafe levels of bacteria is equal to, or greater than, 235 ppm.

[2015-12-02 05:26] tomschenkjr commented on #11
There are differences in the columns and variables between the various years of data. On the 2015-12-01 discussion, we are thinking about only analyzing data from 2008 and onward because it is the richest data available. Namely, those data files contain both readings, the time of the reading, and the geometric mean.

[2015-12-03 18:17] fgregg commented on #17
I'm not sure we should fully remove it. If we get sophisticated enough we can model that censoring and it should improve our predictions.

I would recommend keeping it in the data, and handling it in the analysis code.

[2015-12-03 18:18] fgregg commented on #18
This is something that should be done in the analysis code, yeah?

[2015-12-03 18:21] tomschenkjr commented on #17
I think the >2420 is a bit of an automated insertion whenever the cap is met. So, 2420 implies "2420 or greater". Mostly, was just needing to remove it because it's causing data-type issues and can't perform numeric operations on it.

Agree on the censoring though.

Tom Schenk Jr.

Chief Data Officer

Department of Innovation and Technology

City of Chicago

(312) 744-2770

tom.schenk@cityofchicag

[2015-12-03 18:24] fgregg commented on #17
I think we should keep it in the data and have it be handled by analysis
code.

If you want do it in the data, I would recommend turning them into NAs, and
adding a new column called "Reasong Missing" that indicated right censoring.

On Thu, Dec 3, 2015 at 12:21 PM, Tom Schenk Jr notifications@github.com
wrote:

##

773.888.2718

[2015-12-09 03:00] tomschenkjr opened #20 "How are disagreements between reading 1 and reading 2 handled?"
Sometimes there is significant disagreement between reading 1 and reading 2, at times, one reading is near zero and another is near the maximum reading. How does Park District handle these numbers? Is the maximum value taken or the minimum? Are the geometric means used?

[2015-12-09 03:02] tomschenkjr opened #21 "Reading 1 and Reading 2 are blank, but geometric means are provided"
Why does this happen?

[2015-12-09 03:06] #17 closed, assigned to nobody

[2015-12-09 03:06] #11 closed, assigned to nobody

[2015-12-09 03:08] tomschenkjr opened #22 "Normalize the name of beaches"

[2015-12-09 03:10] tomschenkjr commented on #22
There are 60+ names of beaches, but the actual number of beaches is smaller. Need to combine the various spellings into single observations. Use cpdbeaches.com to help normalize the names

[2015-12-09 06:49] tomschenkjr opened #23 "Merge DrekBeach (advisory) data with lab data"
The DrekBeach source in `data/DrekBeach` should be merged with cleaned lab data.

[2015-12-09 06:52] tomschenkjr opened #24 "Remove significant outlier"
A value over 6,000 is in the data set. It should be removed.

[2015-12-09 16:24] mattesweeney commented on #21
I realized that this issue is due to column name differences -- most of these occur in 2014 where after June 16 "Readings" mostly change to "Samples," and in R I have NAs for all "Sample" columns although the values are there in the excel files. I have already fixed this issue for 2014 so now there are very few geometric means without Readings, and will update code to handle column name errors lik

[2015-12-11 01:52] IrvicRodriguez commented on #22
I created a dictionary in Python for the beaches. I noticed the R script also has commented lines filtering into the 'Client.ID' as did the Python Script on Thursday.

[2015-12-11 01:55] IrvicRodriguez commented on #22
Also, since we are using the R script for the project. I would need to handle off my Python script to a team mate for them to implement or learn how to do similar in R. Whichever comes first.

[2015-12-15 20:03] tomschenkjr commented on #20
Parks provided some feedback that this sometimes happens. EPA has mentioned it can take up to 20 readings at a given location to get a steady estimate of _E. coli_ levels for a given location--clearly beyond practical methods.

Parks will still use the geometric mean even when there is large disagreement in the two readings.

_Editorial note: Seems like we may be able to exploit these differences

[2015-12-15 20:03] #20 closed, assigned to tomschenkjr

[2015-12-15 20:11] tomschenkjr commented on #21
Thanks. Closing the issue.

[2015-12-15 20:14] #21 closed, assigned to tomschenkjr

[2015-12-15 21:19] tomschenkjr opened #26 "Sheets with out-of-order header columns"
Three sheets with TWO header columns with incorrect column order (7/6/06, 7/8/06, 7/9/06)

[2015-12-15 21:21] tomschenkjr opened #27 "Reorganize code"
I'm conducting some housekeeping on the code as found in a9fd8b3932e7a8fac44b65ab2851c502634bc24f. Namely:
- Create a `split_stack.R` function that will split and clean the raw data
- Call the `split_stack.R` function from the `analysis.R` function.
- Conduct some of the data organization and cleaning in the `analysis.R` function.

[2015-12-16 01:21] mattesweeney commented on #22
@IrvicRodriguez -- can you make a pull request?

[2015-12-16 05:23] #26 closed, assigned to nobody

[2015-12-16 05:32] #18 closed, assigned to nobody

[2015-12-16 05:54] tomschenkjr opened #29 "Inquire if the forecasted values are available"
Ask Park district if EPA/Michigan State model has the forecasted values for the past 10 years.

[2015-12-24 23:17] #27 closed, assigned to tomschenkjr

[2016-01-13 01:52] tomschenkjr commented on #22
Per #30, need to double-check the names of beaches and if the mapping is correct.

[2016-01-13 01:54] #23 closed, assigned to nobody

[2016-01-13 01:55] #10 closed, assigned to tomschenkjr

[2016-01-13 02:13] tomschenkjr opened #31 "Revisit naming conventions"
`Reading` = `Drek_Reading`
`Prediction` = `Drek_Prediction`
`SwimStatus` = `Drek_WorstSwimStatus`

`e.coli.geomean` = `e.coli.geomean.calculated`

[2016-01-13 07:26] #31 closed, assigned to nobody

[2016-01-13 07:31] #24 closed, assigned to nobody

[2016-01-15 05:53] kbrose opened #32 "DEFINEDNAME repeated"
When running the data-cleaning code, the following message gets repeated quite a bit. Is this something that can be prevented?

`DEFINEDNAME: 20 00 00 01 0b 00 00 00 01 00 00 00 00 00 00 07 3b 00 00 00 00 ff ff 00 00 00 00`

This message specifically happens for some of the calls to `split_sheets`. Specifically, it happens with

`df2006 <- split_sheets("data/ChicagoParkDistrict/raw/Standard 18 hr

[2016-01-15 19:29] tomschenkjr commented on #32
It's a known bug https://github.com/hadley/readxl/issues/82 from the package that's reading the Excel files. I'm not sure we can suppress it on our side and may just need to wait for the fix.

Tom Schenk Jr.

Chief Data Officer

Department of Innovation and Technology

City of Chicago

(312) 744-2770

tom.schenk@cityofchicago.org

data.cityofchicago.org

---

From: Kevin Rose notifications@github.

[2016-01-17 03:25] kbrose opened #34 "Some sheets have more than 2 readings"
I found a few sheets that have more than 2 readings. It looks like the R code does not handle these (it silently renames the extra reading columns). This could possibly related to the large outlier? Could also be causing the few instances where we observed a larger-than-1 difference between our calculated geometric mean and the geometric mean we pulled from the excel file (i.e. by renaming the col

[2016-01-17 21:05] #32 closed, assigned to nobody

[2016-01-21 02:17] mattesweeney commented on #34
Thanks for documenting these -- we discussed them a few weeks back, although I'm not sure if we decided on a solution. There are other issues with the Escherichia.coli variable (i.e. the values are truncated instead of rounded when read into R) so we are not using it. We've actually re-created this variable (named e.coli.geomean) using Reading.1 and Reading.2.

We considered excluding any date wit

[2016-01-22 02:12] kbrose commented on #34
Yeah, I'm not particularly worried about just throwing out the extra readings since it happened so few times. I don't think the R code handles these few cases, though, and will effectively shift all of the other columns off of their actual names by one. Since those columns are information that, to my knowledge, is never used, I'll just go ahead and close the issue.

[2016-01-22 02:12] #34 closed, assigned to nobody

[2016-01-27 01:43] tomschenkjr opened #37 "Relationship between Reading.1 and Reading.2 with predictions"
Reading.1 and Reading.2 has a significant level of disagreement. Need to investigate if a large amount of disagreement between the two readings can predict elevated levels of e. coli.

![image](https://cloud.githubusercontent.com/assets/1639121/12601195/e14e475a-c464-11e5-9695-d3b4e2406855.png)

[2016-01-27 02:02] tomschenkjr opened #38 "Investigate the time-series aspect of the model"
Explore if there are moving average patterns to the e. coli levels over a period of time to see if there is high or low periods.

[2016-01-27 02:07] kbrose opened #39 "Are beaches systematically sampled?"
The beach readings also report the time-of-day when they were taken. Is there a systematic difference in the sampling time for beaches (e.g., does the sampler always go from the north side to the south side?)

[2016-02-03 02:09] tomschenkjr opened #41 "Acquire historical weather data at the beaches"

[2016-02-03 02:13] tomschenkjr commented on #9
@mncneil is working on this, using a naive model where "today's" prediction is dependent on yesterdays readings. Incorporating elements of #37 by using `Reading.1` and `Reading.2` in the model

[2016-02-03 02:14] tomschenkjr opened #42 "Use data mining to help identify useful variables"
@nicklucius is using PCA to determine some predictors.

[2016-02-03 02:21] tomschenkjr commented on #37
Notable: We should avoid running analysis using `Reading.1` and `Reading.2`. Instead the predictors should be maximum reading (whether it's reading 1 or reading 2) and the minimum reading.

[2016-02-03 02:34] tomschenkjr commented on #5
Closing, similar to #9 where we've kept notes so far.

[2016-02-03 02:34] #5 closed, assigned to fgregg

[2016-02-05 00:33] #41 closed, assigned to nobody

[2016-02-05 02:16] kbrose commented on #39
It looks there is, in fact, some moderate systematic sampling. I hope to get more conclusive data, but for now these plots show that beaches tend to be sampled in a similar order.

The y-axis here shows time-of-day as a fraction (i.e. 0.25 = 6:00 AM, 0.50 = 12:00 PM).

This is 2015:
![2015_sampling_times](https://cloud.githubusercontent.com/assets/4053170/12836136/b29aa67e-cb7b-11e5-98aa-b15e03749

[2016-02-05 04:54] kbrose commented on #39
And probably more usefully, reading time vs. E coli level (E. coli on log scale):
![sample_collection_vs_e_coli](https://cloud.githubusercontent.com/assets/4053170/12838307/234becbe-cb92-11e5-8186-e213b04a9a96.png)

[2016-02-05 05:07] kbrose commented on #39
I'm going to go ahead and conclude that there's not a meaningful bias being introduced by the systematic sampling. Correlations below.

[code]

I'll close this issue out with a PR that contains the code to reproduce the results here.

[2016-02-05 13:54] fgregg commented on #39
These correlations are dominated by the vast majority of measurements that
are in the normal range. Might be worth splitting the measurements into a
high, low groups (on the e-coli warning threshold) and then do a
statistical test on those two groups to see if later, presumably hotter
beaches are more likely to have above-threshold readings.

On Thu, Feb 4, 2016 at 11:07 PM Kevin Rose notification

[2016-02-05 16:16] kbrose commented on #39
Good point. Do you think a simple t-test would make sense here?

Comparing **below threshold** to **above threshold** results in a t-statistic of 8.55 (indicating the below threshold readings have a _higher_ mean) with a p-value in the range of `1.3e-17`. The actual difference in means is 9:28 AM for below threshold samples and 9:07 AM for above threshold samples.

The QQ plot shows a very slight

[2016-02-05 17:27] fgregg commented on #39
Yeah a t-test should be fine. Interesting results!

On Fri, Feb 5, 2016 at 10:16 AM, Kevin Rose notifications@github.com
wrote:

##

773.888.2718

[2016-02-06 02:27] kbrose commented on #39
Went ahead and re-ran the t-test separately for each beach. The fact that beaches _are_ systematically sampled would mean that the extremely significant results could be misleading: it could be due to the fact that some beaches do tend to have more E. coli than others, and those beaches tend to be sampled later/earlier. Recall that positive values indicate the below-threshold E. coli readings occu

[2016-02-06 02:28] kbrose commented on #39
(didn't mean to close, clicked the "close and comment" instead of "comment")

[2016-02-07 03:01] #39 closed, assigned to nobody

[2016-02-09 17:48] #9 closed, assigned to nobody

[2016-02-09 17:48] #37 closed, assigned to nobody

[2016-02-09 17:54] tomschenkjr commented on #15
For conversation in an upcoming meeting:

We've split the data into [test/train](https://github.com/Chicago/e-coli-beach-predictions/blob/master/analysis.R#L109-L113) using traditional methods. But given the limited time where we have both predictions and actual observations, should we use more nuanced methods like k-fold?

[2016-02-09 18:12] tomschenkjr opened #47 ""Shift" data to prior day or previous observations"
The data is currently organized so each row represents a lab test result at a beach on a given day. The remainder of the row then shows all of the information associated with that day.

However, to look at the impact of previous weather and other variables from prior days, need to organize the data set to make it easier to run analysis against historical data.

[2016-02-09 18:15] tomschenkjr opened #48 "Describe weather variables"
Port some of the weather descriptions from forecast.io to https://github.com/Chicago/e-coli-beach-predictions/wiki#variables

[2016-02-09 18:15] tomschenkjr opened #49 "Describe beach variables"
Port the descriptions of the beach variables to https://github.com/Chicago/e-coli-beach-predictions/wiki#variables

[2016-02-10 01:41] #38 closed, assigned to nobody

[2016-02-10 01:45] tomschenkjr opened #50 "Reconcile Python and R code semantics and names"

[2016-02-10 02:08] tomschenkjr opened #51 "Include beach weather data into Python code"

[2016-02-10 02:09] #6 closed, assigned to fgregg

[2016-02-10 02:23] #51 closed, assigned to nobody

[2016-02-10 02:33] tomschenkjr commented on #9
Precision-recall graphs for some simple models:
- black-solid = naive model (prevoius geomean);
- black-dashed = naive model (previous high reading);
- blue = previous geomean + icon (summary of day weather);
- red = previous geomean + day of week + month;
- green = previous geomean + icon + day of week + month + client.id (beach)
  ![pasted image at 2016_02_07 03_40 pm](https://cloud.githubuserco

[2016-02-10 03:03] kbrose commented on #39
Run `python data_investigations.py` to recreate (most) of these figures.

[2016-02-11 18:21] kbrose commented on #48
We should also put the weather sensor and water sensor variables + descriptions there.

[2016-02-15 20:22] beckeroobonsai commented on #47
This is accomplished in python with code committed in issue #55

[2016-02-16 00:43] tomschenkjr commented on #47
The Python code has been merged.

Anyone want to take-up R?

[2016-02-16 01:26] tomschenkjr commented on #47
Sorry, I just saw @nicklucius did this for R. We're all good, so closing the issue.

[2016-02-16 01:26] #47 closed, assigned to nobody

[2016-02-17 02:11] kbrose commented on #42
Adding on the possibility of using LDA ([https://en.wikipedia.org/wiki/Linear_discriminant_analysis](https://en.wikipedia.org/wiki/Linear_discriminant_analysis)).

[2016-02-17 15:58] kbrose commented on #15
I think k-fold cross validation is the way to go. I think a good target for this issue would be a function that takes in the data-frame and breaks it up into train/test sets.

Do we want to rely on purely random sampling, or do we want to explicitly sample within beaches and within years?

[2016-02-17 16:00] kbrose commented on #50
This includes the following
- column to include (specifically weather and water sensor data)
- column names (including the names of "shifted" columns)
- decide how the shifting is done (taking the previous reading, independent of whether it was from yesterday or from 3 days ago (e.g. Monday to last Friday))

[2016-02-17 16:05] kbrose opened #58 "forecast weather data for days without reading"
Even for days where E. coli readings were not taken (e.g., most weekend days), it is still possible to get the weather data. This data should be downloaded and added to the data-set so that models that rely on the previous day's weather can be better informed.

[2016-02-17 16:08] kbrose commented on #50
More on bullet 3, @nicklucius, @beckeroobonsai and I were discussing last night, and I don't remember if we reached a consensus, but I think we were leaning towards just taking the previous reading, no matter how many days in the past it was (at least, that's the direction I was leaning).

This can get slightly more complicated once we have downloaded the additional weather data from issue #58. It

[2016-02-17 16:10] kbrose commented on #7
The python code now has PR and ROC curves in `visualizations.py` ([https://github.com/Chicago/e-coli-beach-predictions/blob/master/python_src/visualizations.py](https://github.com/Chicago/e-coli-beach-predictions/blob/master/python_src/visualizations.py)), and I believe the R code does too (or, at least has PR curves). Was there anything else we wanted for this?

[2016-02-20 10:14] mmcneill commented on #58
Working on this now.  Do we only care about making sure each reading has weather data for the one previous day or should I pull a more complete set of weather data for all summer month / beach combinations in our time interval?

[2016-02-20 15:14] kbrose commented on #58
Let's do the more complete set just to be sure -- maybe the weather 2 or 3 days ago could be just as important as the weather from 1 day ago. In pseudo-code, I'd say

[code]

where `N` is some reasonable number (probably 3).

[2016-02-20 20:55] nicklucius commented on #50
I am leaning in the same direction as @kbrose on bullet 3. At a recent meeting, @tomschenkjr ran an analysis that showed the vast majority of beaches had readings everyday or almost everyday.

The R version of the shifting function groups the data by year and beach, sorts by date, and then for each of these "beach years" iterates through row. For the first n rows (n being the number of observation

[2016-02-23 18:19] mmcneill commented on #58
Okay great, thanks.  I submitted a pull request last night that should close this issue, but if someone who was trying to do a model based on previous days' weather could check to make sure it looks correct that would be great.  I only had to pull 784 more day/beach combos based on the pseudo code above.

[2016-02-24 01:12] #58 closed, assigned to nobody

[2016-02-24 01:28] tomschenkjr opened #60 "Improve the read-in function Python code to generalize "lag" data"
There are a couple of options on reading-in data, such as the definition of "lag". Namely, whether lag means "previous reading" or "previous date"

[2016-02-24 01:30] tomschenkjr commented on #50
@nicklucius is going to adjust the R code to read-in like the Python code created by @beckeroobonsai. Namely, to include the lag _n_ within the variable name to show the amount of the shift.

[2016-02-24 01:35] tomschenkjr opened #61 "Shorten the name of beaches"
Per @beckeroobonsai, should shorten the name of beaches to a single word or something more manageable within R/Python.

[2016-02-24 01:36] #7 closed, assigned to fgregg

[2016-02-24 01:41] tomschenkjr opened #62 "Expand GBM to include other predictors"
Being led by @beckeroobonsai -- expand GBM by including additional predictors (e.g., weather) for the applicable periods.

[2016-02-24 01:51] tomschenkjr commented on #62
Initial model showed tremendous progress and only using previous geometric mean from 2002-2016:

![image](https://cloud.githubusercontent.com/assets/1639121/13273104/a14e7e96-da66-11e5-8a1c-d98a0a664840.png)

![image](https://cloud.githubusercontent.com/assets/1639121/13273117/bc4d628e-da66-11e5-87ab-de3d265f20db.png)

GradientBoostingClassifier vs LogisticRegression. Model variables are :[ 'Beach

[2016-02-24 03:45] #48 closed, assigned to tomschenkjr

[2016-02-24 03:45] #49 closed, assigned to nobody

[2016-02-24 04:21] kbrose commented on #62
Wanted to copy the rest of the description of the model from slack:

[2016-02-28 18:05] nicklucius commented on #42
## Results of Principal Component Analysis (PCA)

I performed PCA on all numeric variables that we have, except a few that were problematic (e.g. Transducer Depth variables have few if any values).

Principal Components (PC) 1 and 2 accounted for most of the variance in the data, as the following graph shows. I chose to look at PCs 1 and 2 for that reason.

<img width="799" alt="pca graph" src="ht

[2016-02-29 16:07] tomschenkjr commented on #42
This is great. Is this based on the prior reading?

[2016-02-29 18:46] nicklucius commented on #42
I ran it with a few different combinations of prior readings or prior weather data. I think these results are using same day readings, and the same day geometric mean too. The results were essentially the same across combinations, but I will run it with a few defined combinations and see if we get different results and share them.

Since there are so many variables, the typical weather measurement

[2016-02-29 18:55] tomschenkjr commented on #42
Same day readings might be out-of-sequence since the weather is being reported later than the readings. E.g., readings at 8:30a and max temp is at 3p.

Were the prior-day reading results similar to the same-day results?

[2016-02-29 18:59] nicklucius commented on #42
Makes sense, I'll check and report back.

[2016-03-01 04:22] nicklucius commented on #42
Found similar results when running PCA on E. Coli readings in conjunction with the weather from the day before the reading. One difference is that turbidity and cloud cover moved up in the rankings.

![pc1](https://cloud.githubusercontent.com/assets/16853555/13417509/4899c03c-df32-11e5-8d68-66ec91ee2286.jpg)

![pc2](https://cloud.githubusercontent.com/assets/16853555/13417544/907bf24e-df32-11e5-9e

[2016-03-03 06:32] kbrose commented on #62
After using data from 2014 and earlier as training and data from 2015 as testing, the model performance drops. Need to investigate what might have caused this. @ChrisProkop suggests that perhaps we should reserve 2015 data as a final testing set, and only work with pre-2015 data for a while to avoid potential over-fitting (see also #15).

![roc_curve](https://cloud.githubusercontent.com/assets/405

[2016-03-03 06:37] kbrose commented on #15
After seeing large performance swings in the GBM model based on how the train/test split was done, this question deserves a closer look.

Perhaps it would be best to preserve 2015 (most recent year) as a more final testing set and only use the data from pre-2015 for now. It would still make sense to do "out-of-range" train/test splits, e.g. doing a leave-one-year-out-cross-validation.

[2016-03-03 06:39] kbrose commented on #62
@beckeroobonsai suggested investigating performance of this GBM model on a beach-by-beach basis to see if performance declined only in some beaches, generally decreased in all beaches, etc.

What is the best course of action with respect to fear of over-fitting by not having a reserved test set?

[2016-03-03 06:45] kbrose opened #65 "Filling in NaN values"
How should `NaN` values be filled in (if at all)?

Using the city-wide mean for a given day might not be appropriate for filling in `NaN`s on the weekends, since the beaches that are sampled on the weekend are only sampled because they had a high reading on Friday (and maybe on Thursday? -- don't know the exact resampling rule) possibly causing bias in those readings.

Using a moving average could

[2016-03-03 06:48] kbrose commented on #60
The function has been slightly improved (e.g. vectorized) in #64. I believe the current method (where lag refers to previous date) is the right solution. Since there will be `NaN` values, most notably on a lot of weekend dates, the real issue now becomes dealing with `NaN` values: #65.

[2016-03-04 04:13] ChrisProkop commented on #62
Some thoughts:

1) We need to be more judicious with how we handle the final validation set.  2015 shouldn't be looked at all yet, until we've done our due diligence in building a good model.  Just looking it and using it to inform your model building produces somewhat of the same effect as over-fitting the model through other means; you're essential building the model to predict well on 2015 data

[2016-03-04 04:14] ChrisProkop commented on #62
I don't know anything at all about what is easy to do in Python GBMs and what isn't.  Is there a way to do the equivalent of a gbm.perf plot from R?

We can also do a Grid Search to see whether the GBM parameters are sufficient.

http://scikit-learn.org/stable/modules/grid_search.html

[2016-03-04 04:15] ChrisProkop commented on #60
If weekend dates are only taken in some circumstances, and those circumstances are for any other reason than randomness, then we shouldn't include them at all in the model.  I think people were saying on Tuesday that Saturday was only recorded if Friday was bad?

Lag variables and rolling averages should be built off of only Monday-Friday if that is the case.

[2016-03-04 13:29] ChrisProkop commented on #62
People mentioned some anti-bird methods being used over the years (chasing them away, or covering trash cans), which could have a considerable effect.  Is it possible to get some info on what the city has done for this?

[2016-03-04 13:35] ChrisProkop commented on #62
Also, the reason why the ROC curves look so great when we have a random testing set is that, because we have prior days information in the data we are building off of, the training set technically has a (partial)? answer for what the values were during the random days taken out for testing.

Maybe.  I'm not entirely clear, but a random holdout definitely seems like there could be data leakage some

[2016-03-04 14:43] fgregg commented on #62
An alternative explanation is that 2015 was a different year than previous years. In other words, the test set is not drawn from the same distribution as the training set. If that's true, then you are in more trouble.

What happens to the ROC if we pull out a different years for the test set?

@ChrisProkop is sounds like you are saying that there's an auto-correlation between a beach's measure and

[2016-03-04 16:02] ChrisProkop commented on #62
@fgregg Yes, we do need to utilize the previous day's information.  However, my concern is if the training  set and test set are odd & even days, respectively, as a worst-case-scenario.  Then your training set contains a full list of the answers to the testing set. I'm not convinced that is what is happening, but I need to think about it more.  GBMs can be kind of screwy, and there may be hard-to-

[2016-03-04 16:10] kbrose commented on #62
@ChrisProkop :

I don't know if it exists out-of-box in the sklearn GBM, but it looks like the example in http://scikit-learn.org/stable/auto_examples/ensemble/plot_gradient_boosting_oob.html does what we want. Should be able to modify that code fairly easily.

---

@ChrisProkop @fgregg :

This weekend when I've got some time I want to get a GBM model on a branch for others to play around with, an

[2016-03-07 07:01] kbrose commented on #62
Issue appears to not be unique to 2015:

![roc](https://cloud.githubusercontent.com/assets/4053170/13562558/9d4aca78-e3ff-11e5-89fb-a58c5cc379c0.png)
(Note that we only have performance for EPA model in 2015, and that our performance on 2015 is not shown here since it is reserved as a final testing set. Also keep in mind that this is using a similarly restrictive set of predictors as in the origin

[2016-03-09 01:55] tomschenkjr opened #69 "Double-check historical forecast.io weather (#58)"

[2016-03-09 01:55] #60 closed, assigned to kbrose

[2016-03-09 01:56] #50 closed, assigned to nicklucius

[2016-03-09 02:08] ChrisProkop commented on #1
Ideas for variables and data processing:
- Indicator for beach direction (North/South)
  - Indicators for other location categorizations (~4/5/6/7 clusters of locations).  The GBM kind of picks up on this I think, but we need to be fair to the GLM or save the GBM time.
  - Change of previous day from its previous day (Day-1 - Day-2).
  - Change of previous day from its two days prior (Day-1 - Day-

[2016-03-09 02:32] tomschenkjr commented on #15
_Train_ period: 2006 - 2014
_Test_ period (e.g., use random seeding / _k_-fold methods): 2006 - 2014
_Validation_: 2015 (leave out, fit predictions from 2006-2014 to 2015 actual observations)

[2016-03-09 02:44] #15 closed, assigned to nobody

[2016-03-09 02:44] tomschenkjr commented on #1
Please record ideas for feature creation on the [Potential Features wiki page](https://github.com/Chicago/e-coli-beach-predictions/wiki/Potential-features)

[2016-03-09 02:45] #1 closed, assigned to nobody

[2016-03-09 06:00] kbrose commented on #15
Definitely need to do leave-one-year-out cross validation.

Blue line is performance on testing set with random 70% train, 30% test, red line is performance when leaving the year 2010 out (leaving other years out performs similarly). Notice that the blue line is significantly higher than the red line, indicating better performance. Doing a random split of train/test over-estimates performance sign

[2016-03-09 06:03] kbrose commented on #15
(Reproduce plots by running `python gbm.py` inside the `python_src` directory of commit [81480174357c8a5caec651eec4d43a0686224bf8](https://github.com/kbrose/e-coli-beach-predictions/commit/81480174357c8a5caec651eec4d43a0686224bf8) (comparing train/test split methods) in my fork.

[2016-03-16 00:32] #69 closed, assigned to mattesweeney

[2016-03-16 00:35] tomschenkjr commented on #42
@nicklucius is going to do some linear discriminate analysis (LDA) to identify variables/levels.

[2016-03-16 00:45] tomschenkjr opened #72 "When are beach predictions determined?"
What time does CPD determine when to issue an advisory for beaches?

[2016-03-16 00:46] tomschenkjr opened #73 "Look at missing data"
Look at:
- Missing `Reading.1`
- Missing `Reading.2`
- Missing `e.coli levels`

[2016-03-16 00:52] tomschenkjr opened #74 "Test prediction threshold other than 250"
_E.coli_ thresholds above 250 are what trigger beach advisories. We can try to predict levels other than 250 to see if it has better real-life performance.

[2016-03-16 01:36] kbrose commented on #65
@ChrisProkop mentions filling a missing value with

`city_mean + average difference between city mean and current beach reading`

[2016-03-16 03:06] tomschenkjr commented on #65
City mean at which time? Summer mean?

Or could look at reading at beach, regress on the mean reading for that beach based on the day of the summer, day of week, and weather. Especially fitting for a multi-level model.

Also, for those looking to do some new work, can look at multiple imputation https://cran.r-project.org/web/packages/Amelia/vignettes/amelia.pdf

[2016-03-16 03:16] #29 closed, assigned to tomschenkjr

[2016-03-16 03:16] #16 closed, assigned to tomschenkjr

[2016-03-21 04:22] kbrose opened #76 "Are E. coli levels predicted on the weekends?"

[2016-03-23 00:28] kbrose commented on #76
Looking at the number of predictions in the Drek Data shows that there are as many predictions on the weekend as there are on the week days.

@mesweeney4

[2016-03-23 00:28] #76 closed, assigned to nobody

[2016-03-23 01:04] ChrisProkop opened #77 "Add Beach Groupings"
Add a North/South beach flag (relative Navy Pier).h

Add several other clusters for the beaches.  4?  5? 6?
North-North, North-South, South-South, South-North

[2016-03-23 01:32] kbrose opened #78 "Historical forecast data"
Despite the name, it appears as if [forecast.io](http://forecast.io/) does not have _historical_ forecasts, but only the observed values (e.g., we can not tell what the the weather on 6/2/2014 was forecasted to be on 6/1/2014). What other sources could we draw from to get the historical forecasts?

[2016-03-24 02:31] kbrose opened #81 "Hourly weather data download"
@mmcneill Is the code that was used to download the hourly data somewhere I can see it?

I'm trying to explain some strange things I'm seeing. The top of the CSV looks like

[code]

Notice that while the times behave as expected (going from 00:00 through 23:00 and then repeating), the dates are jumping around (2012-07-02, 2012-07-03, 2012-08-07, 2008-07-03).

The temperatures (and other columns) a

[2016-03-24 02:43] kbrose commented on #81
Think I may know why, is the process downloading one day at a time, from dates that are somewhat randomly chosen (multithreaded process?)? And then the times are shifted from GMT/UTC to some other timezone (seems to be offset by 5, although I think CST would be 6 or 7 depending on daylight savings...?) which is why the above timestamps go from 05:00 on one day through 04:00 the next day, followed

[2016-03-30 00:53] kbrose commented on #81
This seems like a plausible explanation. Closing.

[2016-03-30 00:53] #81 closed, assigned to nobody

[2016-04-02 03:01] kbrose opened #85 "What is an acceptable False Positive Rate?"
Using a threshold of 235.0 on the EPA model results in a FPR of about 1.2%, but a TPR of only about 7% (!!!).

What would be considered an allowable False Positive Rate? Knowing this range would allow us to use a [partial AUC (pAUC)](https://en.wikipedia.org/wiki/Receiver_operating_characteristic#Other_measures) measurement that would be more informative than using the AUC over the entire range of

[2016-04-02 03:30] kbrose commented on #85
Sample of what a partial ROC curve (cut-off at FPR of 10%) could look like:

![partial_roc](https://cloud.githubusercontent.com/assets/4053170/14224188/46190120-f859-11e5-82cb-5254b0470eed.png)

[2016-04-02 04:09] kbrose opened #86 "2007"
The year 2007 appears to be an outlier. Do we know why?

It looks like 17% of beach-days in 2007 were above the threshold, the only other year to break 10% was 2006 at 10.83%. The average E. coli reading was 218, with the next highest being 154 (again in 2006):

[code]

Notably, it appears as if **_not**_ including 2007 in the training set for any other year improves performance:

Using 2007 in al

[2016-04-04 14:34] tomschenkjr commented on #86
I'll ping Parks department to see if anything was different in 2007. I looked at high-level weather trends--as a potential cause--and 2007 did not stand out.

[2016-04-04 14:48] kbrose commented on #86
It looks like removing 2006 cleans it up further (but curiously, also makes it perform worse at FPRs > 0.6). Which makes me now remember that someone might have said something about some sort of policy changing in 2008...?

I have not thoroughly investigated how removing each year individually effects the estimates, so it's possible that removing more years from the training set is actually just a

[2016-04-05 17:56] tomschenkjr commented on #86
@kbrose - Hrm, I don't remember any policy change for 2008.

[2016-04-05 19:10] tomschenkjr commented on #85
Let me check with Parks on any targets they may have.

[2016-04-06 02:01] kbrose commented on #73
Need to investigate possibly missing weather data as well.

[2016-04-06 02:06] ChrisProkop commented on #77
I think this is done, outside of any debugging to be done.

[2016-04-06 02:07] ChrisProkop commented on #77
ALSO:  The Group #s in the variables refer to where it appears in the order of lists, not the actual group names.  This could be fixed, but is very messy.

[2016-04-06 15:24] kbrose opened #88 ""time" related variables in forecastio are in absolute UNIX time"
Variables such as `sunriseTime` and time-of-max-temperature-occurence are not relative to the day, but in absolute UNIX time. We probably want to process these variables to be relative to the day they are describing.

[2016-04-06 18:05] kbrose opened #90 "Include information from other beaches"
(A subset of #62)

The modelling code as of PR #89 does not include any information from other beaches, e.g. a single row in the data frame only includes information about the beach it describes. We should include information from other beaches, perhaps reporting the mean value of different variables (such as E. coli) per group from @ChrisProkop's beach groupings.

[2016-04-06 18:08] kbrose commented on #61
Need to rename columns of `cleanbeachnames.csv` to something that will be less confusing for new-comers. Current names are `old`, `new`, and `short`. The group decided that the names should be changed to `old`, `interim`, and `target`.

[2016-04-06 18:09] kbrose commented on #78
@dgalt looked into this and found that no one seems to store their historical forecasts.

[2016-04-06 18:09] #78 closed, assigned to nobody

[2016-04-06 18:14] kbrose opened #91 "Potential down sampling"
What-if analysis to investigate model performance under a different, cost-saving sampling regime.

For example, if we removed every E. coli reading from Tuesdays and Thursdays how much does the model performance decrease? If we are able to achieve similar levels of model performance while not using samples from Tuesdays and Thursdays, then Parks would be able to save costs by not sampling on Tuesd

[2016-04-09 01:42] ZombieSocrates commented on #88
What I ended up doing is re-expressing each UNIX time as a float value that's basically "the number of hours after the prior midnight."  So if the sun rose at 5:20 am, the value of `sunriseTime` would be 5.333

You can take the UNIX `sunriseTime` in seconds, subtract away the seconds  equivalent of the `Full_date`, and then subtract 5 hours from that (to account for the conversion between GMT and

[2016-04-09 01:48] ZombieSocrates commented on #85
Just something that I was thinking about today:  In terms of the types of errors our models can make, wouldn't we be way more concerned about false negatives?  Isn't it worse to say "The beach is fine" when it actually isn't, because then you're (potentially) exposing people to getting sick?

The ROC curves, while certainly still informative, won't really tell us anything about false negatives, so

[2016-04-11 13:40] #77 closed, assigned to nobody

[2016-04-12 00:00] kbrose commented on #85
Isn't the `False Negative Rate` just `1 - True Positive Rate`? But yes, I have also been plotting the Precision-Recall graph, I have not been uploading them because they generally tell the same story as the ROC curve.

Determining which mistake (false negative vs. false positive) is more costly is dependent on a lot of things. Even coming at the problem solely from a public health perspective I'm

[2016-04-12 00:07] kbrose commented on #88
Thanks for taking this on! A Pull Request would be great! If you want any help with that, don't hesitate to ask.

Looking at the rest of the `read_data.py`, it seems like it might make the most sense to create a short function that does the post-processing and call that inside the relevant if statement (i.e. the `if read_daily_forecast:` clause). Honestly, though, it's a pretty big file that, whil

[2016-04-12 00:15] ZombieSocrates commented on #88
Sure, I can wrap the above into a helper function and then call it on any column with 'Time' in the name.  Feel free to consider this "assigned" to me.

One caveat: I'm leaving for a business trip tomorrow, so I won't be at the meeting.  I'll try to submit the request over the course of the week, but at the very latest expect it over the weekend if my schedule gets away from me.

[2016-04-12 15:57] kbrose opened #93 "Weekend readings in the training set"
Since weekend readings are sampled under very different assumptions (causing weekend readings to have much higher average E. coli readings), we need to be careful about how they are included in the training set, if at all. If they are included in the training set along with some variable that indicates day-of-week, then we will almost certainly over-fit the weekend readings, causing us to consiste

[2016-04-13 00:20] ChrisProkop commented on #90
Prior mean per group seems best.  I think doing the previous for every other beach adds a lot that a GBM or RF or GLM won't really be able to use effectively.

[2016-04-13 06:01] mattesweeney commented on #73
Looked into the forecast.io weather data and found 578 missing rows. For each range of dates by year and beach, I identified missing dates with the code below.  Snapshots show some output, and you can see that most missing dates are in May -- especially May 13th and May 17th for some reason -- and in 2006.

[code]

![screen shot 2016-04-13 at 12 55 47 am](https://cloud.githubusercontent.com/assets

[2016-04-20 01:05] tomschenkjr opened #95 "What's the cost difference between DNA and lab cultures?"

[2016-04-27 01:14] tomschenkjr commented on #95
DNA is roughly 5 times more expensive than traditional culture methods.

[2016-04-27 01:14] #95 closed, assigned to tomschenkjr

[2016-04-27 01:18] tomschenkjr opened #98 "When does the lab testing actually begin for 2016 season?"

[2016-04-27 01:41] tomschenkjr commented on #85
Talked with some folks on this. They are aware of this potential, but not a solid answer to this yet. Will make most sense to run the pilot over the weekend and provide definitive answers (e.g., number of days) that would be impacted by adjusting the false positive rate.

[2016-04-27 01:42] #86 closed, assigned to nobody

[2016-04-27 01:55] tomschenkjr commented on #98
"Earlier that week - Tuesday give or take a day"

[2016-04-27 01:55] #98 closed, assigned to tomschenkjr

[2016-04-27 03:33] tomschenkjr commented on #72
"The USGS model runs automatically at about 8:30 am. We get any advisories posted by 9:30"

[2016-04-27 03:33] #72 closed, assigned to tomschenkjr

[2016-05-11 23:05] beckeroobonsai commented on #85
Last night at the chihacknight meetup we discussed how best to set a threshold for different models based on the holdout validation data.  The method that seems most appropriate is to take the threshold that keeps Precision at least as high as the current EPA model while maximizing Recall.  This would allow the most direct comparison of how we expect our model to perform.

As for how the current E

[2016-10-11 16:22] tomschenkjr opened #104 "Calculate the baseline performance for Parks model in 2016"
Need to calculate the performance of the USGS/Michigan State model during the summer of 2016. @CallinOsborn has calculated it for the performance of six beaches, but those predictions have not been accounted for all beaches. Need to calculate the performance for all beaches.

@nicklucius will assist in tracking that mapping down.

[2016-10-11 16:25] #22 closed, assigned to mattesweeney

[2016-10-11 16:25] #42 closed, assigned to nicklucius

[2016-10-11 16:25] #61 closed, assigned to mattesweeney

[2016-10-11 16:25] #62 closed, assigned to beckeroobonsai

[2016-10-11 16:25] #65 closed, assigned to kbrose

[2016-10-11 16:25] #73 closed, assigned to tomschenkjr

[2016-10-11 16:25] #74 closed, assigned to tomschenkjr

[2016-10-11 16:25] #85 closed, assigned to tomschenkjr

[2016-10-11 16:25] #88 closed, assigned to nobody

[2016-10-11 16:25] #90 closed, assigned to nobody

[2016-10-11 16:25] #91 closed, assigned to nobody

[2016-10-11 16:25] #93 closed, assigned to nobody

[2016-10-17 14:44] #104 closed, assigned to nicklucius, CallinOsborn

[2016-10-17 14:44] PriyaDoIT opened #105 "Choose different variables and try PCA and LDA"

[2016-10-19 19:20] nicklucius commented on #105
@CallinOsborn [here](https://github.com/kbrose/e-coli-beach-predictions/blob/pca-filters/python_src/modeling.py) is the branch of @kbrose repo that has the PCA filters code that produces the results below. Maybe this can help you. We can talk more tomorrow.
![2016-10-16t13_02_37_072235--roc](https://cloud.githubusercontent.com/assets/16853555/19533754/b3c89a00-9606-11e6-80f4-bf1b4168ee69.png)

[2016-10-21 15:24] nicklucius commented on #105
@CallinOsborn is attempting to evaluate[ the above code's](https://github.com/kbrose/e-coli-beach-predictions/blob/pca-filters/python_src/modeling.py) performance on 2016 data.

It appears that PCA trains on all years (weather and e. coli data) simultaneously without leaving a year out. This is done as a preprocessing step before the model is created.

Then the PCA is used to filter the training d

[2016-10-21 15:28] kbrose commented on #105
Honestly don't remember writing any PCA code at all, but if it was not done with a leave-one-year out approach then it's going to be next to worthless.

[2016-10-21 15:29] nicklucius commented on #105
I am going to try to leave a year out during PCA training to see how that affects performance on 2006-2015. Looks like line 68 is where I can pass the year as an argument to `prepare_data()`:

[code]

. . .

[code]

[2016-10-21 15:32] nicklucius commented on #105
@kbrose I think it was code you borrowed from someone else to run to see if you could replicate results. Your repo is the only place we could find the PCA filters code in a runnable format. Unfortunately, the Slack channel history is gone so we are trying to resurrect some ideas the team had developed back in the spring.

[2016-10-24 14:12] nicklucius commented on #105
I haven't been able to get this PCA code running with leave-one-year-out validation. Adding a `leaveout` as an argument to `prepare_data()` breaks the code and after chasing down the errors I found that each fix caused another error downstream.

For the **weather-only dataset**, we have not found a viable or reproducible way to improve on the USGS/EPA model. I don't see a reason to spend a lot of

[2016-10-24 14:29] CallinOsborn commented on #105
Do you know what the precision was on the one that uses **water-sensor** data?

[2016-10-24 14:38] nicklucius commented on #105
The TPR/recall on the ROC is about 50% at the 5% FPR rate. At that level of recall, the precision is around 60-70%. Keep in mind this is a small sample so expect a large margin of error.

![image](https://cloud.githubusercontent.com/assets/16853555/19650050/84697e94-99cd-11e6-93fa-439770ec7d98.png)

[2016-10-28 16:56] CallinOsborn commented on #105
I have uploaded my work for the week [here.](https://public.tableau.com/profile/callin.osborn#!/vizhome/CoC_Beaches/Story1)

A couple of observations were noticed as I was looking into possible factors.
- More sensors are needed to be placed in the  South, that is where we are having the hardest time with E. coli.
- There is something with `precipIntensity` and E. Coli levels
- North and North Eas

[2016-10-28 17:33] nicklucius commented on #105
## Water Sensor Model 2016 Results

For 2016, water sensor data available on the [portal ](https://data.cityofchicago.org/Parks-Recreation/Beach-Water-Quality-Automated-Sensors/qmqz-2xku)decreased from 6 sensors to 3 sensors. This limited the amount of data available for modeling.

| Year | Water Sensor Available Data |
| --- | --- |
| 2016 | Calumet, Ohio, Montrose |
| 2015 | 63rd, Calumet, Ohio,

[2016-11-03 14:19] nicklucius opened #107 "Organize Code"
Organize the code into clear sections to make the following steps easier and more flexible

1. Data collection and cleaning
2. Data preprocessing for modelling, such as filtering and subsetting
3. Feature engineering
4. Data mining
5. Predictor selection
6. Modelling
7. ROC and PR Curve Production
8. Confusion Matrix Production

[2016-11-03 14:21] nicklucius opened #108 "Capture additional data"
Explore additional datasets that capture environmental factors that change from year to year and could affect E. Coli rates.

- Water levels might affect E. Coli levels. Water levels have changed so much that beaches have disappeared. The USGS publishes data online that gives Lake Michigan levels going back to the 1990s. Here is an graphed example of their water height data:

![Image](https://clou

[2016-11-03 14:23] nicklucius commented on #105
Since the original issue is resolved, I am closing this and starting new issues: #107 and #108.

[2016-11-03 14:23] #105 closed, assigned to nicklucius, CallinOsborn

[2016-11-04 14:38] nicklucius opened #109 "Research additional predictive modeling techniques"
Look into enhancements for our data preprocessing and modeling.

For example, we could try [downsampling](https://www.r-bloggers.com/down-sampling-using-random-forests/) as a way to deal with an unbalanced response variable, (i.e., we have way more high-level e. coli days than low-level.)

![image](https://cloud.githubusercontent.com/assets/16853555/20403663/4e8c9c90-acc7-11e6-8847-e4be5505a571.pn

[2016-11-04 14:54] nicklucius commented on #107
Placeholder for cleaning/organization issues that we need to address:
- [x] remove 2016 USGS prediction errors (there are multiple days with large negative E. Coli levels)
- [x] `Client.ID` has 1984 NAs out of 26823 records (due to missing data in portal)
- [x] Remove outlier readings in `Reading.2`
- [x] Remove beach reading observations from the year 1916
- [x] Fix lock reading data errors - too

[2016-11-10 22:29] nicklucius commented on #107
The nickDev branch now has most of the data merged together (except weather).

@CallinOsborn is importing the CSVs that have weather from 2006 - 2015

I am getting new 2016 daily and hourly weather from Dark Sky / forecast.io.

[2016-11-14 14:43] nicklucius commented on #107
@CallinOsborn I went through and double-checked the Lats/Longs in the `cleanbeachnames.csv` file. Row `98` and `99` look like the coordinates for Rainbow instead of Rogers.

![image](https://cloud.githubusercontent.com/assets/16853555/20268777/350a0eb6-aa46-11e6-981c-0497dedd9d96.png)

Do you know if this error is in the original CSV, or only in the new one?

[2016-11-14 14:52] CallinOsborn commented on #107
@nicklucius you are exactly right, good catch. The actual latlong of Rogers should be 42.0213,-87.6666. I just uploaded the new `cleanbeachnames.csv` with the corrected Rogers Beach LatLong.

[2016-11-15 16:28] CallinOsborn commented on #107
I don't know how big of a problem this will be long term, but we do have multiple readings for some beaches on the same day.  As evidenced here with Albion beach:

![image](https://cloud.githubusercontent.com/assets/20862662/20313868/e5a22cc2-ab1d-11e6-9504-77d8f981be87.png)

A couple thoughts I had, are keep the highest `Mean` from the same beach on that day and use that.  Or we can somehow try a

[2016-11-15 17:00] nicklucius commented on #107
@CallinOsborn - Is that due to the beach name mapping? If multiple beaches map to Albion, then each of those beaches becomes an Albion reading for that day.

Related: #67, #22, #61

[2016-11-15 17:15] CallinOsborn commented on #107
That is exactly what it is.  For example on May 23, 2006 here were the samples:

![capture](https://cloud.githubusercontent.com/assets/20862662/20315622/420d1c82-ab24-11e6-953e-fde0a835796b.PNG)

The Columbia, Hartigan, and Leone readings all map back to Albion, creating the 3 readings for Albion Beach in one day. This happens consistently in years past.

[2016-11-17 20:29] nicklucius commented on #109
Now that the code is reworked and the new dataset is nearly ready (#107 and #108), I wanted to record the thoughts that @CallinOsborn and I have talked about, many of which were discussed at Hack Night meetings earlier this year. I hope these ideas provide a springboard for new models.

## Redo models with new water level data and new engineered features

Many of us believe elevated E. coli levels

[2016-11-28 15:33] nicklucius commented on #109
I looked at the relationship between same-day E. Coli levels at different beaches. Here are some exploratory visualizations to talk about.

![image](https://cloud.githubusercontent.com/assets/16853555/20674133/56b1ed1a-b54d-11e6-8453-ec4ac0c0d733.png)

![image](https://cloud.githubusercontent.com/assets/16853555/20674158/6cad20ee-b54d-11e6-90f6-3e280b81dde5.png)

![image](https://cloud.githubuserc

[2016-11-28 15:43] nicklucius commented on #109
![image](https://cloud.githubusercontent.com/assets/16853555/20674537/fcbc9056-b54e-11e6-983a-3603483429ff.png)

[2016-11-29 16:34] CallinOsborn commented on #107
@nicklucius  Here's an example of the vast difference of a geomean at a 'beach' in the duplicates
![image](https://cloud.githubusercontent.com/assets/20862662/20718651/047449ee-b61f-11e6-8c6f-efc0bcc24942.png)
As you can see at the Jarvis predictions are pretty close together (51.2, 30.6),but the Leone Beach predictions (55.9, 2419.6) are not even in the same ballpark as each other.

[2016-12-09 21:55] nicklucius commented on #109
As we all know, we have been trying to predict today’s E. coli level by using yesterday’s (and older) data as predictors. After many tries, we have not been able to produce a model that does better than the current USGS model on new observations.

Recently, I’ve looked into a different technique for predicting today’s E. coli level by taking today’s DNA test results at a sample of beaches, and the

[2016-12-14 18:09] nicklucius opened #110 "Change column order"
Change the order so that ```Water.Level``` is located near the other daily variables, instead of with the hourly variables.

[2016-12-14 18:29] #110 closed, assigned to nobody

[2016-12-20 21:35] nicklucius commented on #108
Closing because the water level data was added to the dataset.

[2016-12-20 21:35] #108 closed, assigned to nicklucius, CallinOsborn

[2016-12-22 16:46] nicklucius opened #113 "USGS Prediction change from 2015 - 2016"
Are the beaches used for the 2015 USGS predictions different than the 2016 USGS predictions?

Is [this code](https://github.com/Chicago/e-coli-beach-predictions/blob/master/11_USGSpredictions.R#L38-L43
) removing real 2015 USGS predictions, or just duplicated predictions?

[2016-12-22 17:02] nicklucius opened #114 "Duplicate rows in Water Data"
The [code ](https://github.com/Chicago/e-coli-beach-predictions/blob/master/15_WaterQuality.R#L36-L37)in `15_WaterQuality.R` says it is cleaning out duplicates, but when I manually tested the code, it did not remove any rows.

[2016-12-22 17:11] nicklucius opened #115 "Removing rows with NA for Client.ID"
The [code](https://github.com/Chicago/e-coli-beach-predictions/blob/master/Master.R#L9-L10) in `Master.R` removes each row where Client.ID is NA. A lot of these rows have E. Coli readings.

Are these listed as NA for Client.ID in the data portal? If so, do we have better data in the `hacknight` branch? Maybe there is just an issue with the data portal data.

[2016-12-22 17:17] nicklucius opened #116 "Lock Data"
It looks like the reason we have so many NAs (referenced [here](https://github.com/Chicago/e-coli-beach-predictions/issues/107#issuecomment-258452930)) is because there are only rows of data in the dataframe `lock_data` for dates on which at least one lock is open. So if all locks were closed on a given day, we do not have a row for that day.

We need to fill in all the NAs with 0s as appropriate

[2016-12-22 17:43] nicklucius opened #117 "Use one naming convention"
Pick a naming convention (e.g. camelCase, underscore_case) and use it consistently.

[2016-12-22 20:00] nicklucius opened #118 "Recreate geometric mean E. coli variable in master branch"
See #34 for how it was handled in hacknight branch

[2016-12-22 20:13] nicklucius opened #119 "Date column - include time?"
The `Date` column sometimes includes the date and time, and sometimes includes only the date. This is causing a problem in the function `addLabsColumn()`.

We could:
- Remove the time from the Date column
- Keep the time in the Date column and handle it in the function (the problem might reoccur in other functions)
- Keep the time in the Date column and add a new column with the time stripped

[2017-01-03 17:22] CallinOsborn commented on #113
We don't know exactly which beaches they were predicting and then extrapolating from. But the following are the groups of beaches beaches for drek in 2015:

[code]

There were 9 predicting beaches in 2016, which correspond to 1 predicting beach in 2015, so I just used the same beaches that were predicted for in 2016 to use as the reference table for 2015.

[2017-01-03 17:34] CallinOsborn commented on #114
I just ran the code again manually, I didn't get any duplicates.  It might have just been the day that I ran it that R was being a little finicky.  I would say keep that line of code in there, we don't lose a lot of time leaving it in, and it is a double check to make sure that there are no duplicated rows when it comes in.

[2017-01-03 17:41] CallinOsborn commented on #115
These NA for Client.ID comes in from when we do the clean of the beach names.  For example, in 2016 we have readings for the Montrose Dog Beach.  In the `cleanbeachnames.csv` we have that set to going to NA. There are some beaches that are now defunct, etc.  If we want to look into what we are changing to NA we can, otherwise we have all the information for the beaches we are predicting in `df`.

[2017-01-03 17:54] nicklucius commented on #113
Thank you!

[2017-01-03 17:54] #113 closed, assigned to nobody

[2017-01-03 18:01] nicklucius commented on #114
Sounds good.

[2017-01-03 18:01] #114 closed, assigned to nobody

[2017-01-04 15:55] CallinOsborn commented on #116
This is taken care of with pull request #120 .

[2017-01-04 20:27] CallinOsborn opened #121 "Moving weather.csv to the CSV folder"
When weather.csv was created it was created in the /e-coli-beach-predictions folder instead of /e-coli-beach-predictions/CSV folder. We need to put the weather.csv in the correct folder and change all the code to update to where the weather.csv is located.

[2017-01-05 15:43] #119 closed, assigned to nobody

[2017-01-05 15:51] CallinOsborn opened #124 "Wave heights in the negatives"
Coming in off of the data portal, probably because of some sort of programming/battery thing we are getting wave heights in the negatives.

![image](https://cloud.githubusercontent.com/assets/20862662/21686817/5f277bf2-d32c-11e6-8864-c5796ff99a78.png)

As fun as it would be to imagine what negative waves would look like, they are not supposed to be that way, the negatives need to be changed to a 0

[2017-01-05 16:24] CallinOsborn commented on #124
This is also the same problem in wave period. As of this writing there are 526 total wave heights and periods that are negative. But if we change them all to zeros it is effectively changing them to NAs because there is no exactly perfect 0.000

![image](https://cloud.githubusercontent.com/assets/20862662/21687803/434709f8-d330-11e6-9055-dd2a54df599c.png)

Which is also the same for the wave perio

[2017-01-05 17:18] CallinOsborn commented on #124
Fix is #125

[2017-01-05 17:19] #116 closed, assigned to nobody

[2017-01-05 18:12] CallinOsborn commented on #121
@nicklucius needs to update code to make sure when we get weather daily, the updates will go to the weather.csv in the /CSV folder.

[2017-01-06 14:51] #124 closed, assigned to nobody

[2017-01-19 16:15] #121 closed, assigned to nobody

[2017-01-20 21:16] #107 closed, assigned to nicklucius, CallinOsborn

[2017-01-20 21:16] #109 closed, assigned to nobody

[2017-01-21 15:55] kbrose commented on #109
@nicklucius Amazing work! Have you tried using a much simpler model to transform DNA to E. Coli levels? A random forest seems like it might be over-kill. If a simpler model (logistic/linear etc.) can achieve similar results that'd be even more encouraging.

[2017-01-23 16:21] nicklucius commented on #109
@kbrose Thanks! Good point about random forest. It does seem that the modeling we're doing now would lend itself to something simpler. I've tried a basic linear regression, which does a lot better than USGS but not as good as random forest. I have wondered if it's the beach-to-beach differences that the random forest is picking up.

I've thought about trying a [multilevel model](http://www.stat.co

[2017-01-23 16:40] kbrose commented on #109
Multilevel models seem like a good fit. If possible, I'd try both linear and logistic multilevel regressions.

[2017-02-09 16:46] #115 closed, assigned to nobody

[2017-02-17 20:21] geneorama commented on #117
Don't forget about the possibility of using the dot as a space as in `read.socrata`.  Personally I think the dot can make sense in function names in packages, like `read.socrata`, but should be avoided for variables. However, it's worth mentioning.

[2017-03-21 16:58] tomschenkjr opened #130 "Rename Repo"
Per the discussion with @CallinOsborn and @nicklucius - should we change the name of this repo to "clear-water"?

[2017-03-21 21:22] nicklucius commented on #130
I like it so yes for me. It looks like I don't have permissions to change the name.

[2017-03-21 21:38] tomschenkjr commented on #130
Changed. https://github.com/Chicago/clear-water

Your pushes should auto-forward to the new url. But, as a best practice, should update the "origin" on your remote with the following:

[code]

[2017-05-30 22:37] tomschenkjr commented on #130
Seems to be going well, so am closing.

[2017-05-30 22:37] #130 closed, assigned to tomschenkjr

[2017-05-31 15:20] tomschenkjr commented on #117
Is this still open for consideration? Is some code rewriting still needed?

[2017-05-31 15:20] tomschenkjr commented on #118
Is this still a todo?

[2017-05-31 19:14] nicklucius commented on #118
I will close it. @CallinOsborn and I ran a test a while back and confirmed that our performance was matching the hacknight branch.

[2017-05-31 19:14] #118 closed, assigned to nobody

[2017-05-31 19:21] nicklucius commented on #117
I think this issue is outdated, since the code has been reworked. We never did settle on one convention, but  now it's more important to clean up the modelling functions for readability. I had been holding off on the cleanup, because doing that will set me up nicely for documenting the project.

[2017-06-06 04:02] tomschenkjr opened #131 "Submit abstract to State of Lake Michigan conference"
| Due August 11th |

The [State of Lake Michigan 2017](http://iaglr.org/sol/solm17) conference is opening submissions for abstracts from June 26th through August 11th.

[2017-07-06 18:49] nicklucius opened #132 "Provide technical instructions in README.md"
The file will provide and introduction to the project and a "how to" for running the model and generating plots.

[2017-07-06 18:52] nicklucius opened #133 "CONTRIBUTING.md file"
@tomschenkjr - While working on the README.md file, I've been thinking about whether to create a CONTRIBUTING.md file too. I see there are a few different versions for Chicago projects. Is there a good template I can adopt, or should I create one specific for this project?

[2017-07-06 19:19] tomschenkjr commented on #133
For the context of this, seems like the food inspection project is the best one as the template since it gives instructions on cross validating and submitting model improvements (https://github.com/Chicago/food-inspections-evaluation/blob/master/CONTRIBUTING.md).

From: Nick Lucius [mailto:notifications@github.com]
Sent: Thursday, July 06, 2017 1:53 PM
To: Chicago/clear-water <clear-water@noreply.

[2017-07-10 20:41] nicklucius opened #134 "Draft Outline of Sections"
The "stories" discussed so far include

1. Better Predictions
2. Innovative New Model Approach
3. Civic Collaboration Model

[2017-07-10 20:42] nicklucius opened #135 "Draft text to fill out the sections"

[2017-07-10 20:45] nicklucius opened #136 "Make Diagrams"
Will be helpful to explain the modelling concepts, to show geography of beaches and lakefront, etc.

[2017-07-10 20:46] nicklucius opened #137 "Finalize Design"
The design will need to integrate the interactive Shiny app.

[2017-07-10 20:49] nicklucius opened #138 "Complete Literature Review"

[2017-07-10 20:50] nicklucius opened #139 "Create Graphs and Tables"

[2017-07-10 20:50] nicklucius opened #140 "Draft the paper text"

[2017-07-12 15:05] nicklucius commented on #133
I'm writing up ```CONTRIBUTING.md``` and I see that there is a CLA in the template, but we don't have a CLA set up for Clear Water. I'm looking at how to set it up, and I have a copy of the RSocrata CLA since I've signed it.

I have to choose which of the following to require. I can set this up--any thoughts?

"Choose any extra fields to require on your agreement:
* Email
* Name
* Mailing address

[2017-07-12 15:08] tomschenkjr commented on #133
Actually, I’ll have to do this bit. Because of permissions, we use an account “cityofchicago” to create the CLA. Only the creator of the CLA can later modify it. We use the central account so we can modify it later. Assign this to  me.

From: Nick Lucius [mailto:notifications@github.com]
Sent: Wednesday, July 12, 2017 10:05 AM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, To

[2017-07-13 23:20] tomschenkjr commented on #133
Contributing License Agreement has been created for clear-water https://www.clahub.com/agreements/Chicago/clear-water

I've also created one for clear-water-app https://www.clahub.com/agreements/Chicago/clear-water-app

[2017-07-18 15:01] nicklucius commented on #134
Closing -- I'll use these ideas to create sections for the site.

[2017-07-18 15:01] #134 closed, assigned to nicklucius

[2017-07-19 15:15] nicklucius commented on #135
Website work being done in new ```gh-pages``` [branch](https://github.com/Chicago/clear-water/tree/gh-pages)

[2017-07-31 17:14] nicklucius commented on #135
Still to do:
- [x] Fill in missing numbers
- [x] Revise and polish the text
- [x] Move the text around to align with diagrams and maps. See #136

[2017-08-01 23:45] tomschenkjr commented on #137
I've created a new branch `issue137` that contains the redesigned website. I need to tweak some things and will open a pull request against `gh-pages` for you to review.

If you checkout that branch, you can just open the `index.html` file to preview the new site.

[2017-08-01 23:51] tomschenkjr commented on #137
As a note to myself for work:

### Visible index.html
- [x] Add Nick's introductory paragraph (and figure out how we want to display that)
- [x] Need to fix whatever issue is preventing `chart.js` from loading properly
- [x] Add final website link to the sharing button links
- [x] Upgrade to FontAwesome 4.7 so the thermometer displays next to "weather"

### index.html code
- [x] In the `meta` tags

[2017-08-03 01:17] nicklucius commented on #136
- [x] Create a design to explain the model
- [x] Create a barplot with HighCharts

[2017-08-03 01:19] nicklucius commented on #137
This looks great. I completed the pull request.

The shiny app has been updated on the EC2 server so that the "build a model" page is the whole app. I also cleaned it up and changed the graph and formatting.

[2017-08-04 15:06] nicklucius opened #143 "Link to Beach Swim Advisories - data is not updated"
There is a button that links to Beach Swim Advisories. CPD has not updated this dataset since the end 2016, most likely because they are issuing advisories using the Lab data now, instead of the USGS model predictions.

We could add a link to this map, which is blank until around noon when the daily predictions are generated:

https://data.cityofchicago.org/Parks-Recreation/Clear-Water-Map/mf7j-mc

[2017-08-04 15:08] nicklucius opened #144 "Update the Total Beach Days Number"
In triple checking the model evaluation metrics, I realized that Humboldt was being included in one of the chunks of model evaluation code. I will update the number accordingly (still great numbers!).

[2017-08-04 15:30] nicklucius commented on #144
Done with https://github.com/Chicago/clear-water/commit/6d7e30c53509c038eb30207b845d4a479a36e77e

[2017-08-04 15:30] #144 closed, assigned to nobody

[2017-08-04 16:26] tomschenkjr commented on #143
Ah ok. Yeah, a link to the map would be interesting as well. I just threw in some links to give an idea of what the content could be in that area, so open to ideas.

We can also have a standalone page that embeds the advisories map as well.

From: Nick Lucius [mailto:notifications@github.com]
Sent: Friday, August 04, 2017 10:06 AM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Subscr

[2017-08-04 16:43] tomschenkjr opened #145 "Clean-up "challenge" page"
Need to clean-up the challenge page a bit. Below are some tasks and the point-of-contact. Check them off once they are finished.

  - [x] Fix the link to "home" on the submenu - @tomschenkjr
  - [x] Fix the `<iframe>` to limit the scrolling (especially vertically) - @tomschenkjr
  - [x] Remove the "For contact information" footer in the Shiny app. Let's use more standard language of "&copy; 2017 <

[2017-08-04 16:44] tomschenkjr commented on #137
I reassigned this to me since the remaining tasks are basically mine.

[2017-08-04 16:56] #135 closed, assigned to nicklucius

[2017-08-04 17:02] nicklucius commented on #145
@tomschenkjr - Sounds good. The home repo for the Shiny App is https://github.com/rchesak/Chicago-Beaches. I wanted to ask for thoughts on storing my tweaks. Right now they are only on the EC2 server. Maybe fork the project to our GitHub?

[2017-08-04 17:04] tomschenkjr commented on #145
Yes, let’s fork it over to Chicago. Be sure to keep the original licensing since it’s required of the MIT license.

From: Nick Lucius [mailto:notifications@github.com]
Sent: Friday, August 04, 2017 12:02 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/clear-water] Clean-up "challe

[2017-08-04 17:08] tomschenkjr commented on #145
I've created a branch, `issue145` for this. I'm beginning work on it so you may not want to touch anything on this issue, yet.

[2017-08-04 17:34] nicklucius commented on #145
Sounds good, I'll hold off. But I did complete the Shiny app license language task, since it's a different repo.

[2017-08-04 17:41] tomschenkjr commented on #145
@nicklucius - thanks on the Shiny app. Actually, can you just link to the MIT license (in our repo) in the text instead of the full thing?

[2017-08-04 17:44] nicklucius commented on #145
Sure thing, will do.

From: Tom Schenk Jr [mailto:notifications@github.com]
Sent: Friday, August 04, 2017 12:42 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Lucius, Nicholas <Nicholas.Lucius2@cityofchicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/clear-water] Clean-up "challenge" page (#145)

@nicklucius<https://github.com/nicklucius> - thanks on the Shin

[2017-08-04 18:52] tomschenkjr commented on #145
@nicklucius - thanks, looks great.

I've pushed changes back to `issue145` branch. When you get a chance, you can add your bits. I'm done working on it for a moment.

[2017-08-04 19:23] nicklucius commented on #145
Left out the issue # in my commit message: https://github.com/Chicago/clear-water/commit/28af49f9c4a8c97303c0f499070729e7ac529a83

[2017-08-07 18:30] #132 closed, assigned to nicklucius

[2017-08-07 18:30] #133 closed, assigned to nicklucius

[2017-08-07 20:07] nicklucius commented on #137
@tomschenkjr - Here's what I found out on the ```chart.js``` issue. It looks like the [contents](https://github.com/Chicago/clear-water/blob/gh-pages/assets/js/chart.js) of ```assets/js/chart.js``` is the html source for the GitHub page containing ```chart.js```, so maybe something must have happened during the porting?

That is not the only issue, though. Once I fix that, I get this error:

```ch

[2017-08-07 20:27] tomschenkjr commented on #137
Is this on a local test? I’m not seeing the changes on the `gh-pages` branch

From: Nick Lucius [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 3:07 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/clear-water] Finalize Design (#137)

@tomschenkjr<https://github.com

[2017-08-07 20:33] nicklucius commented on #137
Yes, it's a local test. I'll push to gh-pages so you can see.

[2017-08-07 20:48] nicklucius commented on #137
I fixed it - the chart is showing up now.

[2017-08-07 20:49] tomschenkjr commented on #137
That was an amazing effective `git push` command, then.

From: Nick Lucius [mailto:notifications@github.com]
Sent: Monday, August 07, 2017 3:48 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Mention <mention@noreply.github.com>
Subject: Re: [Chicago/clear-water] Finalize Design (#137)

I fixed it - the chart is showing up now.

—
You are

[2017-08-07 20:53] nicklucius commented on #137
`git push` is the new restart. But really, I just tried modified the `div` and it did the trick.

[2017-08-07 21:09] #136 closed, assigned to nicklucius

[2017-08-08 04:42] tomschenkjr commented on #145
Looked at the nav bar on the challenge page and realized it may not make sense to include the seal since the nav does not follow along the page. Closing this issue for now.

[2017-08-08 04:42] #145 closed, assigned to tomschenkjr, nicklucius

[2017-08-08 04:43] tomschenkjr commented on #143
@nicklucius - is this ok or do we need to do a bit more with it?

[2017-08-08 16:32] #143 closed, assigned to nobody

[2017-08-08 16:32] nicklucius commented on #143
@tomschenkjr - I just pushed a commit that changed the link to the predictions map.

[2017-08-08 17:17] tomschenkjr opened #146 "Remove "View License""
Right now, the "view license" doesn't work well because it attempts to open the link within the `iframe`.

Meanwhile, I've updated that webpage so it contains the necessary copyright, attribution, and license information so it's not needed on the app.

![image](https://user-images.githubusercontent.com/1639121/29085040-87ba5ae8-7c33-11e7-97ea-634161d551a5.png)

[2017-08-08 17:48] nicklucius commented on #146
Completed via https://github.com/Chicago/Chicago-Beaches/commit/c7a54d2edc94dc0cf68b7f0339fcc8852baf1ddd

[2017-08-08 17:48] #146 closed, assigned to nicklucius

[2017-08-08 20:55] #137 closed, assigned to tomschenkjr

[2017-08-08 21:03] nicklucius opened #148 "Shiny App Embed: HTTP iframe conflicting with HTTPS"
@tomschenkjr - it looks like AWS has a UI for adding HTTPS, but it only works with EC2 instances that use Elastic Load Balancing or CloudFront--I'm not sure that we use either: https://aws.amazon.com/blogs/aws/new-aws-certificate-manager-deploy-ssltls-based-apps-on-aws/.

If we create our own certificate, we'll still might get blocked by browsers: https://www.r-bloggers.com/shiny-https-securing-sh

[2017-08-08 21:25] tomschenkjr commented on #148
Ok, we’ll proceed without a certificate for now.

There is a nuance in the gh-pages, you can turn-off the forcing to HTTPS. But, by default, HTTPS is enabled (but you don’t have to visit it). Right now, I’m forcing to HTTPS.

From: Nick Lucius [mailto:notifications@github.com]
Sent: Tuesday, August 08, 2017 4:03 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, Tom <Tom.Schen

[2017-08-08 22:15] tomschenkjr commented on #146
Hrm, I didn’t know you could reference commits with Org/Repo@commit. Neat!

From: Nick Lucius [mailto:notifications@github.com]
Sent: Tuesday, August 08, 2017 12:48 PM
To: Chicago/clear-water <clear-water@noreply.github.com>
Cc: Schenk, Tom <Tom.Schenk@cityofchicago.org>; Author <author@noreply.github.com>
Subject: Re: [Chicago/clear-water] Remove "View License" (#146)

Completed via Chicago/Chica

[2017-08-09 14:06] tomschenkjr commented on #148
Here are some instructions on a Shiny app and a certificate https://www.r-bloggers.com/shiny-https-securing-shiny-open-source-with-ssl/

[2017-08-09 17:02] tomschenkjr commented on #148
It appears the HTTPS enforce is only for the index page. However, it is _not_ enforced by default when going to the `challenge/` page. Thus, I've updated the links to point to `http` for the app to avoid the mixed-content errors.

When we get a chance, let's grab a certificate and post it to the EC2 instance. But, at least, it's not a pressing matter.

[2017-08-10 04:12] tomschenkjr opened #149 "Add Google Analytics tracking code"
Need to retrieve and then embed the Google Analytics tracking code.

[2017-08-10 17:44] #149 closed, assigned to tomschenkjr

[2017-08-14 02:37] tomschenkjr commented on #131
This was completed this past Friday, so closing for now.

[2017-08-14 02:37] #131 closed, assigned to nicklucius

[2017-08-14 18:09] nicklucius commented on #117
Closed by #141.

[2017-08-14 18:09] #117 closed, assigned to nobody

[2017-08-23 02:43] tomschenkjr commented on #148
@nicklucius - for @ThorSean upcoming article, he's hitting some HTTPS mixed-content issues. I don't think we can sidestep it this time. Can you take a look at adding a token. [This may be a viable, free option](https://ipub.com/shiny-https/).

Let me know if this is shaping-up to be a complete pain.

[2017-08-23 14:09] nicklucius commented on #148
@tomschenkjr  - no problem, I'll look into this.

[2017-08-23 15:39] nicklucius commented on #148
@tomschenkjr - I ran into a problem with Let's Encrypt. They blacklist EC2 domain names. Here is my error when generating a certificate:

[code]

And [here is a discussion](https://community.letsencrypt.org/t/policy-forbids-issuing-for-name-on-amazon-ec2-domain/12692) that confirms this is a problem for EC2 domains.

If we could get a `*.cityofchicago.org` domain that points to `ec2-52-54-246-48.c

[2017-09-12 16:42] nicklucius opened #150 "Code broken when running on Linux"
In working on https://github.com/Chicago/predicting-e-coli-concentrations/issues/1, I've discovered that the code base for this project is not working on Linux (still works on Windows). I isolated the problem and it looks like I can fix it with a few lines of code. Basically, a few extra rows with NAs are introduced when data is read in.

I will post the fix under this issue.

[2017-11-20 15:15] tomschenkjr commented on #140
Closing this issue because work has been moved over to [prediction-e-coli-concentrations](https://github.com/Chicago/predicting-e-coli-concentrations) repo.

[2017-11-20 15:15] #140 closed, assigned to nobody

[2017-11-20 15:15] tomschenkjr commented on #139
Closing this issue because work has been moved over to [prediction-e-coli-concentrations](https://github.com/Chicago/predicting-e-coli-concentrations) repo.

[2017-11-20 15:15] #139 closed, assigned to nobody

[2017-11-20 15:15] tomschenkjr commented on #138
Closing this issue because work has been moved over to [prediction-e-coli-concentrations](https://github.com/Chicago/predicting-e-coli-concentrations) repo.

[2017-11-20 15:15] #138 closed, assigned to nobody

[2017-11-28 04:29] tomschenkjr opened #152 "K-means algorithm"
Which package did you use to calculate it?

[2017-11-28 04:38] nicklucius commented on #152
I used the ‘kmeans()’ function in the ‘stats’ package, with the default algorithm - Hartigan and Wong.

https://www.rdocumentation.org/packages/stats/versions/3.4.1/topics/kmeans

________________________________
From: Tom Schenk Jr <notifications@github.com>
Sent: Monday, November 27, 2017 10:29:57 PM
To: Chicago/clear-water
Cc: Subscribed
Subject: [Chicago/clear-water] K-means algorithm (#152)

[2017-12-08 17:10] #150 closed, assigned to nobody

[2018-01-09 21:00] tomschenkjr opened #153 "Create DOI"
Using Zenodo, we will create a Digital Object Identifier, which will allow us to more easily cite the Clear Water code in the corresponding paper (and for any other author). The citation _will not_ be the paper, but this code which underlies the paper.

Use the "cityofchicago" account to finalize the DOI in Zenodo.

[2018-01-10 03:26] tomschenkjr commented on #153
A DOI has been added for this project, but I think we need to complete #154 before creating the second DOI that we will cite in the paper (since it's the code running the paper).

[2018-02-07 03:26] #153 closed, assigned to tomschenkjr

[2018-02-07 03:27] #152 closed, assigned to nobody

[2018-07-28 02:24] nicklucius opened #155 "Update data"
Need to update a few data sources in order to align the training sets as referenced in https://github.com/Chicago/predicting-e-coli-concentrations/issues/47#issuecomment-406631691.

- [x] Download Dark Sky weather data for 2017
- [x] Add lake level data for 2017  [lake-levels-2017.zip](https://github.com/Chicago/clear-water/files/2237622/lake-levels-2017.zip)
- [x] Add [2017 lock data](https://www

[2018-07-28 18:45] #155 closed, assigned to nicklucius

[2019-02-05 20:55] nicklucius opened #157 "Look at a model to translate culture based E. coli test results to DNA-based enterococci test results"